{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "keyword-spacing": "error",
    "space-before-function-paren": "error",
    "space-infix-ops": "error",
    "comma-spacing": "error",
    "no-duplicate-imports": "error",
    "space-before-blocks": "error",
    "space-in-parens": "error"
  }
}
