.title {
	margin: 1rem 1.5rem;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}
.contentArea {
	background: #fff;
	min-height: 10rem;
	border-radius: 2rem;
	margin-right: 5px;
	padding-bottom: 1rem;
}

.content {
	margin: 0 2rem;
}

.tagContentArea {
	background: #fff;
	border-radius: 2rem;
	padding-bottom: 1rem;
}

.sticky {
	position: sticky;
	top: 0;
}

.startButtonContainer {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.322);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #fff;
	cursor: pointer;
}

.starButton {
	font-size: 1.5rem;
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
	color: rgb(105, 105, 105);
}

.starButtonActive {
	font-size: 1.5rem;
	position: absolute;
	top: 0.8rem;
	right: 0.8rem;
	color: rgb(245, 241, 8);
	cursor: pointer;
}

.profileContentArea {
	background: #fff;
	border-radius: 2rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
	padding-top: 1rem;
}

.profileImage {
	border-radius: 50%;
	overflow: hidden;
	width: 15vh;
	height: 15vh;
	position: relative;
	margin-left: 1rem;
	margin: 0 auto;
}

.profileName {
	font-weight: bold;
	margin-top: 1rem;
	font-size: 1.1rem;
	text-align: center;
}

.profileText {
	font-size: 0.7rem;
	margin: 0 0.5rem;
}

.contentActive {
	color: rgb(231, 40, 40);
}

.switchPreview {
	margin-bottom: 1rem;
}

.blank {
	margin: 0 1rem;
}

.active {
	font-size: 1.2rem;
	color: #000;
	font-weight: bold;
}

.notActive {
	opacity: 0.7;
	font-size: 0.9rem;
}

.submitButton {
	margin-top: 1rem;
	float: right;
}

.formBlank {
	margin-bottom: 1rem;
}

.downloadButton {
	text-align: center;
	background: rgb(248, 246, 246);
	margin-top: -1rem;
	padding-bottom: 1rem;
}

.listStyle {
	list-style: none;
	margin-left: -20px;
	margin-top: 6px;
	padding: 5px;
}