.selfIntroduction {
  display: flex;
}

.image {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  width: 50vh;
  height: 50vh;
  position: relative;
  margin-left: auto;
}

@media (max-width: 950px) {
  .selfIntroduction {
    display: flex;
    flex-direction: column-reverse;
  }

  .image {
    margin-right: 100%;
  }
}
