.selfIntroduction {
  display: flex;
}

.image {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  width: 50vh;
  height: 50vh;
  position: relative;
  margin-left: auto;
}

@media (max-width: 950px) {
  .selfIntroduction {
    display: flex;
    flex-direction: column-reverse;
  }

  .image {
    margin-right: 100%;
  }
}

.cardStyle {
  font-size: 0.7rem;
}

.title {
  font-size: 2rem;
}

.titleWrap {
  white-space: pre-wrap;
}

.selfContents {
  margin-top: -0.5rem;
  font-size: 0.8rem;
}